<h1> $neaker Pimp$ </h1>

<h2> Login Page </h2>

<form action="/session" method="post">

  <label for=""></label>
  <input name="email" required type="email" placeholder="Enter Email address">

  <label for=""></label>
  <input name="password" required type="password" placeholder="Enter Password">

  <button name="button">Login</button>

</form>

<form action="/signup" method="post">
  <div class="signup">Please click SignUp if you're a new user ===> </div>
  <button name="button">SignUp</button>
</form>
