<h1>$neaker Pimp$</h1>
<h2>Upload Sneakers detail<h2>

<form action="/sneakers" method="post">
  <label name="">Brand Name:</label>
  <input type="text" required name="name">

  <label for="">Image URL:</label>
  <input type="type" required name="img_url">

  <label for="">Size: </label>
  <input type="text" required name="size">

  <label for="">Price: $ </label>
  <input type="number" required name="price" min="1" max="99999">

  <button>Upload</button>

</form>

<form action="/" method="get">
  <button>Cancel</button
</form>
