<h1> $neaker Pimp$ </h1>

<h2> Signup Page </h2>

<form action="/signup" method="post">

  <label for=""></label>
  <input name="name" required type="text" placeholder="Enter Username">

  <label for=""></label>
  <input name="email" required type="email" placeholder="Enter Email address">

  <label for=""></label>
  <input name="password" required type="password" placeholder="Enter Password">

  <button name="button">Signup</button>

</form>

<form action="/" method="get">
  <div class="signup">Are you sure you want to hit Cancel??? ===> </div>
  <button>Cancel</button
</form>
