<h1> $neaker Pimp$ </h1>

<h2> Please Log In </h2>
<h2>Account Setup Successful</h2>

<form action="/session" method="post">

  <label for=""></label>
  <input name="email" required type="email" placeholder="Enter Email address">

  <label for=""></label>
  <input name="password" required type="password" placeholder="Enter Password">

  <button name="button">Login</button>

</form>
