<h1>$neaker Pimp$</h1>

<h2>Unknown sneaker search! Please type again!</h2>

<form action="/sneakers/search" method="get">

  <label for=""></label>
  <input name="brand" required type="text" placeholder="Enter Sneaker Brand">

  <button name="button" type="submit">Search</button>

</form>
